body {
    font-family: "Open Sans", Helvetica, sans-serif;
    color: #FFFFFF;
    font-size: 14px;
    line-height: 1.42;
    background: #001821;
    -webkit-font-smoothing: antialiased;
    -moz-osx-smoothing: greyscale;
    margin: 0px;

}
.main-page__wrapper {
    background: url(./img/first.png) center top no-repeat, url(./img/second.png) right bottom 165px no-repeat;
}
.menu {
    margin: -15px;
    width: 1141px;
}
a {
    color: inherit;
}
ul {
    padding: 0;
    margin: 0;
}
ul li {
    list-style: none;
}
.header {
    height: 70;
    position: relative;
    margin-bottom: 0;
}
.logo {
    display: block;
    position: absolute;
    top: 23px;
    left: 55px;  
}
.menu {
    position: absolute;
    top: 33px;
    left: 125px;
    font-size: 14px;
}
.contacts {
    position: absolute;
    top: 19.64px;
    right: 47px;
}
.menu__item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 51px;
}
.menu__link--active .menu__link {
    color: #DA0100;
}
.menu__link {
    font-size: 14px;
    text-decoration: none;   
}
.contacts {
    font-style: normal;
    text-align: right;
}
.contacts__phone {
    text-decoration: none;
    font-size: 26px;
    margin-bottom: 8px;
}
.contacts__workhours {
    font-size: 13px;
    text-decoration: underline;
    margin-top: -7px;
    margin-right: 7px;
}
.intro__image {
    margin-top: 190px;
    margin-left: 56px;
    display: inline-block;
    width: 520px;
    margin-bottom: 254px;
}
.intro__image-title {
    font-size: 72px;
    font-weight: bold;
    line-height: 98px;
    margin-bottom: 25.5px;
}
.intro__image-text {
    font-size: 18px;
    margin-bottom: 48px;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: normal;
}
* {
    box-sizing: border-box;
}
.button {
    background: #F5170E;
    border-radius: 35px;
    padding: 18px 40px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
}
.button:hover {
    background: #DA0100;
    box-shadow: #DA0100;
}
.selection {
    margin-bottom: 127px;
}
.offer__block {
    margin-left: 65px;
}
.offer__title {
    margin-bottom: 45px;
}
.offer__title-text {
    font-size: 36px;
    font-weight: bold;
    width: 400px;
    left: 55px;
    position: absolute;
    left: 75px;
    top: 740px;
}
.offer__title-icon{
    position: absolute;
    width: 21px;
    height: 28px;
    top: 753px;
    margin-left: 350px;    
}
.offer__list {
    min-height: 449px;
    background: #FFFFFF;
    border-radius: 5px;
    display: inline-block;
    width: 362px;
    color: #000000;
    margin-right: 27px;
}
.offer__cover {
    min-height: 144px;
    margin-bottom: 28px;
}
.offer__content {
    padding: 33px 28px;
    position: relative;
}
.offer__country-name {
    font-weight: bold;
    font-size: 24px;
    position: absolute;
    bottom: 183px;
}
.offer__feature {
    display: inline-block;
    vertical-align: top;
    width: 136px;
    margin-right: 30px;
}
.offer__feature:last-child {
    margin-right: 0;
}
.offer__duration {
    font-size: 16px;
    color: #666666;
    margin-left: 10px;
}
.offer__meal {
    font-size: 16px;
    color: #666666;
    margin-left: 9px;
}
.offer__text {
    position: relative;
}
.offer__watch {
    text-align: center;
}
.button-theme-white {
    background: #FFFFFF;
    border: 1px solid #F5170E;
    color: #F5170E;  
    position: absolute;
    margin-top: 15px;
}
.button-theme-white:hover {
    background: #FFFFFF;
    position: absolute;
    margin-top: 15px;
    
}
.button-theme-red {
    background: #F5170E;
    position: absolute;
    margin-top: 15px;
}
.news__title {
    font-size: 36px;
    font-weight: bold;
    margin-left: 63px;
    margin-top: 127px;
    margin-bottom: 51px
}
.news__list {
    margin-left: 64px;
}
.news__item {
    width: 557px;
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin-right: 25px;
}
.news__image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    overflow: hidden;
}
.news__content {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 25px 30px;
    min-height: 182px;
}
.news__date {
    font-size: 14px;
    margin-bottom: 10px;
    position: absolute;
}
.news__title-item {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
    position: absolute;
    margin-top: 30px;
}
.news__text {
    font-size: 16px;
    position: absolute;
    margin-top: 67px;
}
.news {
    margin-bottom: 55px;
}
.paginator {
    text-align: center;
}
.paginator__display, .paginator__list {
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
}
.paginator__display {
    margin-right: 25px;
}
.paginator__item {
    display: inline-block;
    vertical-align: middle;  
}
.paginator__number--active {
    background: #FFFFFF;
    color: #F5170E;
    border-radius: 41px;
}
.paginator__number {
    display: block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    position: relative;
    text-decoration: none;
    font-weight: bold;
    line-height: 32px;
}
.offer__pic-feature, .offer__duration, .offer__meal {
    display: inline-block;
    vertical-align: middle;
}
.about {
    margin-right: 25px;
}
.about:before {
    content: "";
    display: inline-block;
    vertical-align: top;
    width: 490px;
    height: 505px;
    background: url(./img/gates.png); center center / cover no-repeat;
    margin-top: 152px;
    margin-left: 60px;
}
.about__content {
    display: inline-block;
    vertical-align: top;
    margin-left: -148px;
    margin-top: 249px;
    width: 785px;
    height: 455px;
    background: url(./img/mountains.png);
    padding: 70px 81px;
}
.about__image-title {
    font-size: 36px;
    font-weight: bold;
    color: #000000;
    margin-bottom: 37px;
}
.about__image-text {
    color: #060606;
    margin-bottom: 61px;
    font-size: 16px;
}
.about__image-text {
    margin-bottom: 43px;
}
.about__image-text p {
    margin-bottom: 20px;
}
.about__image-text p:last-child {
    margin-bottom: 0;
}
.container__footer {
    border-top: 1px solid #FFFFFF;
    opacity: 10%;
    margin-top: 53px;
}
.footer {
    height: 152px;
    position: relative;
}
.logo__footer--pic {
    display: block;
    position: absolute;
    margin-left: 55px;
    top: 40px;
}
.contacts__footer {
    position: absolute;
    top: 30px;
    right: 0;
    font-style: normal;
    text-align: right;
}
.contacts__footer-workhours {
    font-size: 11px;
    color: #9A9A9A;
}
.contacts__footer-phone {
    font-size: 26px;
    text-decoration: none;
}
.menu__list--footer {
    display: inline-block;
    vertical-align: middle;
    margin-left: 240px;
    margin-top: 50px;
}
.socials__link {
    display: block;
    text-decoration: none;
    width: 36px;
    height: 36px;
    background: center center no-repeat;
}
.socials__item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}
.socials__link:last-child {
    margin-right: 0;
}
.socials {
    position: absolute;
    top: 53px;
    right: 300px;
}
.socials__item--telegram .socials__link {
    background-image: url(./img/telegram.png);
}
.socials__item--vk .socials__link {
    background-image: url(./img/vk.png);
}
.socials__item--facebook .socials__link {
    background-image: url(./img/f.png);
}
.socials__item--instagram .socials__link {
    background-image: url(./img/in.png);
}

