.dropdown {
    position: relative;
    display: flex;
    justify-content: flex-end;
}
.dropdown__menu{
    position: absolute;
    left: -9999px;
    opacity: 0;
}
.dropdown:hover .dropdown__menu {
    display: block;
    left: initial;
    right: 0;
    opacity: 1;
    transition: all 1s;
}
.dropdown__link {
    font-size: 13px;
    text-decoration: underline;
}
.dropdown__block {
    background: #CDD1D2;
    border-radius: 9px;
    position: relative;
    color: #1E1F20;
    margin-top: 28px;
}
.dropdown__block:before {
    content: '';
    width: 20px; 
    height: 20px;
    background: #CDD1D2;
    position: absolute; 
    top: -10px;
    right: 40px;
    transform: rotate(45deg);     
}
.dropdown__text-open {
    margin: 0;
    font-weight: bold;
}
.dropdown__text-meal {
    margin: 0;
    font-weight: 600;
}
.dropdown__fill {
    padding: 15px 14px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}