.form__row {
    display: flex;
    margin-bottom: 24px;
}
.form__input {
    flex: 1;
    margin-right: 30px;
    border-radius: 5px;
    border: none;
    background: #FFFFFF;
    padding: 22px 30px;
    font-size: 18px;
    color: #1A1B1E;
}
.form__input:last-child {
    margin-right: 0;
}
.form__input::placeholder {
    color: #666666;
}
.form__input--textarea {
    height: 235px;
    padding-top: 34px;
}
.form__controls {
    display: flex;
    margin-bottom: 20px;
}
.form__input:focus {
    border: 1px solid red;
}
.form__input {
    outline: none;
}
.form__controls-title {
    width: 36%;
    font-size: 18px;
    padding-top: 12px;
}
.form__buttons {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 35px;
}
.form__button {
    margin-right: 17px;
}
.form__button:last-child {
    margin-right: 0;
}
.partners__title--review {
    padding-top: 8px;
    margin-bottom: 56px;
}