.main-page__wrapper {
    background: url(../../img/first.png) center top no-repeat, url(../../img/second.png) right bottom 165px no-repeat;
}
.header__container {
    display: flex;
    justify-content: space-between;
}
.header {
    padding-top: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1140px;   
}
.header__header--inner {
    padding-top: 0px;
    margin-left: 11px;
    margin-top: -3px;
}
.header__col {
    display: flex;
    justify-content: center;
}
.header__col--align--right {
    justify-content: flex-end;    
}
.header__logo {
    margin-right: 100px;
}
.header__contacts {
    font-style: normal;
    margin-right: -5px;
}
