.menu {
    font-size: 14px;
}
.menu__item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 51px;
}
.menu__item--active .menu__link {
    color: #DA0100;
}
.menu__link {
    font-size: 14px;
    text-decoration: none;   
}