.menu {
    font-size: 14px;
}
.menu__list {
    margin-left: -21px;
    margin-top: 11px;
}
.menu__list--inner {
    margin-left: -32px;
    margin-top: 13px;
}
.menu__item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 51px;
}
.menu__link--active .menu__link {
    color: #DA0100;
}
.menu__link {
    font-size: 14px;
    text-decoration: none;   
}