.separator {
    background: url(../../images/feedpic/dusk.png);
    min-height: 360px;
}
.separator__content {
    display: flex;
    align-items: center;
}
.separator__title {
    font-size: 48px;
    font-weight: bold;
}
.separator__img {
    margin-top: 19px;
    margin-left: 26px;
}