.services {
    margin-bottom: 64px;
}
.services__item {
    margin-bottom: 49px;
}
.services__item:last-child {
    margin-bottom: 0;
}
.services__img-elem {
    width: 460px;
    height: 333px;
}