.service {
    display: flex;
    text-decoration: none;
}
.service__cover {
    margin-right: 5%;
}
.service__content {
    flex: 1;
    padding-top: 11px;
}
.service__title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 28px;
    color: #000000;
}
.service__text {
    font-size: 16px;
    line-height: 1.7;
    margin-bottom: 32px;
}