.socials__link {
    display: block;
    text-decoration: none;
    width: 36px;
    height: 36px;
    background: center center no-repeat;
}
.socials__item {
    margin-right: 10px;
}
.socials__link:last-child {
    margin-right: 0;
}
.socials {
    margin-right: 60px;
    display: flex;
    align-items: center;
}
.socials__item--telegram .socials__link {
    background-image: url(../../images/img/css_sprites.png);
    background-position: -10px -10px;
}
.socials__item--vk .socials__link {
    background-image: url(../../images/img/css_sprites.png);
    background-position: -66px -10px;
}
.socials__item--facebook .socials__link {
    background-image: url(../../images/img/css_sprites.png);
    background-position: -122px -10px;
}
.socials__item--instagram .socials__link {
    background-image: url(../../images/img/css_sprites.png);
    background-position: -178px -10px;
}